<h1>Welcome to our shop.</h1>
<p>
  Thank you for registering in our shop. We are delighted that you become our customer. We will do our best to make you comfortable and pleasant to shop in our store.
</p>

<h2>Five reasons to buy from us:</h2>
<ul>
  <li>In our store you can buy any computer equipment at the lowest prices in the world.</li>
  <li>All products have quality certificates.</li>
  <li>Our store provides an additional guarantee of some goods.</li>
  <li>Regular customers we offer discounts</li>
  <li>Delivery in any city of the world.</li>
</ul>

<p>
  <%= link_to 'Read more about us.', store_about_url %>
</p>

<p>
  <%= link_to 'Sale computer equipment.', root_url %>
</p>
