<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
    <h1><%= "Add product to order: #{@order_id}"%></h1>

    <%= render partial: 'form', locals: { title_sumbit: 'Save' } %>
    
    </div>
  </div>
</div>