.footer_bg
  .wrap
    .footer
      .grids_of_4
        .grid1_of_4
          h4 featured sale
          ul.f_nav
            - footer_sale.each do |b|
              li = link_to b.title, store_search_brand_products_path(b.id)
        .grid1_of_4
          h4 men's brands
          ul.f_nav
            - footer_brands_men.each do |b|
              li = link_to b.title, store_search_brand_products_path(b.id)
        .grid1_of_4
          h4 women's brands
          ul.f_nav
            - footer_brands_women.each do |b|
              li = link_to b.title, store_search_brand_products_path(b.id)
        .grid1_of_4
          h4 quick links
          ul.f_nav
            - footer_quick_links.each do |b|
              li = link_to b.title, store_search_brand_products_path(b.id)
      .clear
.footer_bg1
  .wrap
    .footer
      javascript:
        $(document).ready(function() {
          var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
          };
          UItoTop({ easingType: 'easeOutQuart' });
        });
      a href="#" id="toTop" style="display: block;"
        span#toTopHover style="opacity: 1;"
      .copy
        p.link
          | &copy; Clothes store 2015. All Rights Reserved. Developed by 
          a href="https://github.com/geovo851" Georgy
          | &nbsp;| Designed by&nbsp;
          a href="http://w3layouts.com/" W3Layouts
      .clear
