<div id="da-slider" class="da-slider">

  <% @slider_product.each do |c| %>
    <div class="da-slide">
      <h2><%= c.title %></h2>
      <p><%= c.body %></p>
      <%= link_to 'Shop now', store_product_path(c.product_id), class: "da-link" %>
      <div class="da-img"><%= image_tag c.photo %></div>
    </div>
  <% end %>

  <nav class="da-arrows">
    <span class="da-arrows-prev"></span>
    <span class="da-arrows-next"></span>
  </nav>
</div>

<script type="text/javascript">
  $(function() {
    $('#da-slider').cslider();
  });
</script>
