<% i = 0 %>
<% products.each do |product| %>
  <% i < 3 ? i += 1 : i = 1 %>

  <% if i == 1 %>
    <div class="grids_of_3">
  <% end %>

      <div class="grid1_of_3">
        <%= link_to store_product_path(product) do %>
          <%= image_tag(product.photo) %>
          <h3><%= truncate(product.name, length: 60) %></h3>
          <div class="price"><h4>$<%= product.price %><span>shop now</span></h4></div>
          <span class="b_btm"></span>
        <% end %>
      </div>

  <% if i == 3 %>
      <div class="clear"></div>
    </div>
  <% end %>

<% end %>

<% if i > 0 && i != 3 %>
   <div class="clear"></div>
  </div>
<% end %>