<section class="tabs">
  <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked">
  <label for="tab-1" class="tab-label-1">Product Description</label>

  <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2">
  <label for="tab-2" class="tab-label-2">Brand's Description</label>

  <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3">
  <label for="tab-3" class="tab-label-3">Delivery info</label>

  <div class="clear-shadow"></div>

  <div class="content">
    <div class="content-1">
      <p class="para top"><%= sanitize(@product.description) %>
      <div class="clear"></div>
    </div>
    <div class="content-2">
      <p class="para"><%= sanitize(@product.brand.description) %>
    </div>
    <div class="content-3">
      <p class="para top"><span>LOREM IPSUM</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>
        <li>Delivery</li>
        <li>Delivery</li>
        <li>Delivery</li>
        <li>Delivery</li>
        <li>Delivery</li>
        <li>Delivery</li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</section>
