- provide(@category_id.to_sym, 'active')
- provide(:title, @category.title)

.main_bg
  .wrap
    .main
      h2.style.top = @category.title
      - if @products.empty?
        b Products not found
      - else
        #products
          = render partial: 'products', locals: { products: @products }
        #paginator.paginate-centre
          = paginate @products, remote: true
