<% provide(:title, 'Search') %>

<div class="main_bg">
  <div class="wrap">  
    <div class="main">
      <h2 class="style top">Results found:</h2>

      <% if @products.empty? %>
        <div class="not-found">Products not found</div>
      <% else %>

        <div id="products">
           <%= render partial: 'products', locals: { products: @products } %>
        </div>

        <div id="paginator", class="paginate-centre">
          <%= paginate @products, :remote => true %>
        </div>
      <% end %>
    </div>
  </div>
</div>
